*{
    margin: 0px;
    padding: 0px;
}

.body {
    padding: 0px;
    margin: 0px;
}

/* header styple */
.header_text {
    margin-top: -2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: solid black;
    text-align: center;
    font-weight: bolder;
}

#MDEditor {
    border: 2px solid black;
    height: 80vh;
    width: 100%;
    overflow: scroll;
    
}

#MDViewerPreview {
    border: 2px solid black;
    height: 80vh;
    width: 100%;
    overflow: scroll;
    margin: 10;
}

.container .row .heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

header p {
    margin-top: -10px;
    text-align: center;
    color: green;
    font-weight: bold;
    letter-spacing: 10px;
}